<md-sidenav-container fullscreen>
  <!--<md-sidenav mode="side" opened="false" #sidenav>-->
  <!--<md-toolbar color="primary">AppLogo</md-toolbar>-->
  <!--<md-toolbar color="primary">AppLogo</md-toolbar>-->
  <!--</md-sidenav>-->
  <div class="main-content">
    <md-toolbar color="primary" layout="row">
      <div id="right_nav" flex layout="row" layout-align="end center">
        <span><button md-button routerLink="/home" routerLinkActive="active">Home</button></span>
        <span><button md-button>Crypto</button></span>
        <span><button md-button>T&C's</button></span>
        <span><button md-button>About</button></span>

      </div>
    </md-toolbar>
  </div>
  <div *ngIf="cryptoPrices">
    <h2>{{this.cryptoPrices.base}}</h2>
    <h3>Currency: {{this.cryptoPrices.target}}</h3>
    <h3>Price: {{this.cryptoPrices.price}}</h3>
    <h3>Volume: {{this.cryptoPrices.volume}}</h3>
    <h3>Change: {{this.cryptoPrices.change}} %</h3>
  </div>
</md-sidenav-container>
